In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/now-with-more-nutrients/ingredient_6L.csv
/kaggle/input/now-with-more-nutrients/unique_indexed_ingredients.csv
/kaggle/input/now-with-more-nutrients/cleaned_ingredients.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
path = '/kaggle/input/now-with-more-nutrients/cleaned_ingredients.csv'

In [4]:
df = pd.read_csv(path)
df

,NDB_No,Descrip,Energy_kcal,Protein_g,Saturated_fats_g,Fat_g,Carb_g,Fiber_g,Sugar_g,Calcium_mg,...,VitC_mg,Thiamin_mg,Riboflavin_mg,Niacin_mg,VitB6_mg,Folate_mcg,VitB12_mcg,VitA_mcg,VitE_mg,VitD2_mcg
0,1001,butter with salt,717.000,0.85,51.36800,81.11,0.06,0.0,0.06,24.00,...,0.0,0.005,0.034,0.042,0.003,3.0,0.17,684.0,2.32,0.0
1,1002,butter whipped w salt,718.000,0.49,45.39000,78.30,2.87,0.0,0.06,23.00,...,0.0,0.007,0.064,0.022,0.008,4.0,0.07,683.0,1.37,0.0
2,1003,butter oil anhydrous,876.000,0.28,61.92400,99.48,0.00,0.0,0.00,4.00,...,0.0,0.001,0.005,0.003,0.001,0.0,0.01,840.0,2.8,0.0
3,1004,cheese blue,353.000,21.40,18.66900,28.74,2.34,0.0,0.50,528.00,...,0.0,0.029,0.382,1.016,0.166,36.0,1.22,198.0,0.25,0.5
4,1005,cheese brick,371.000,23.24,18.76400,29.68,2.79,0.0,0.51,674.00,...,0.0,0.014,0.351,0.118,0.065,20.0,1.26,292.0,0.26,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9313,S006,rohu,102.292,19.71,2.04700,2.39,0.00,0.0,0.00,39.37,...,0.0,0.000,0.040,2.330,240.000,1263.0,0.00,0.0,2.4,0.0
9314,S007,crab,78.153,13.23,0.21400,0.89,0.00,0.0,0.00,199.00,...,0.0,0.010,0.110,1.540,202.000,1783.0,0.00,0.0,4.85,0.0
9315,S008,prawns big,90.820,19.24,0.08686,0.52,0.00,0.0,0.00,48.55,...,0.0,0.000,0.020,1.310,186.000,1826.0,0.00,0.0,0,0.0
9316,S009,prawns small,70.983,13.07,0.19700,0.78,0.00,0.0,0.00,67.99,...,0.0,0.010,0.030,0.540,207.000,1306.0,0.00,0.0,1.75,0.0
9317,S010,tiger prawns,67.876,14.24,0.13400,0.66,0.00,0.0,0.00,57.90,...,0.0,0.010,0.040,1.280,216.000,1875.0,0.00,0.0,1.65,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9318 entries, 0 to 9317
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   NDB_No            9318 non-null   object
 1   Descrip           9318 non-null   object
 2   Energy_kcal       9318 non-null   float64
 3   Protein_g         9318 non-null   float64
 4   Saturated_fats_g  9318 non-null   float64
 5   Fat_g             9318 non-null   float64
 6   Carb_g            9318 non-null   float64
 7   Fiber_g           9318 non-null   float64
 8   Sugar_g           9318 non-null   float64
 9   Calcium_mg        9318 non-null   float64
 10  Iron_mg           9318 non-null   float64
 11  Magnesium_mg      9318 non-null   object
 12  Phosphorus_mg     9318 non-null   float64
 13  Potassium_mg      9318 non-null   float64
 14  Sodium_mg         9318 non-null   float64
 15  Zinc_mg           9318 non-null   float64
 16  Copper_mcg        9318 non-null   float64
 17  Manganese_mg      9318 non-null   float64
 18  Selenium_mcg      9318 non-null   float64
 19  VitC_mg           9318 non-null   float64
 20  Thiamin_mg        9318 non-null   float64
 21  Riboflavin_mg     9318 non-null   float64
 22  Niacin_mg         9318 non-null   float64
 23  VitB6_mg          9318 non-null   float64
 24  Folate_mcg        9318 non-null   float64
 25  VitB12_mcg        9318 non-null   float64
 26  VitA_mcg          9318 non-null   float64
 27  VitE_mg           9318 non-null   object
 28  VitD2_mcg         9318 non-null   float64
dtypes: float64(25), object(4)
memory usage: 2.1+ MB

In [6]:
df["skor_protein"] = df["Protein_g"].apply(lambda x: 0 if x < 10 else (1 if x <= 20 else 2))
df["skor_lemak"] = df["Fat_g"].apply(lambda x: 0 if x < 3 else (1 if x <= 10 else 2))
df['skor_carb'] = df["Carb_g"].apply(lambda x: 0 if x < 25 else (1 if x <= 50 else 2))
df["skor_gula"] = df["Sugar_g"].apply(lambda x: 0 if x < 1 else (1 if x <=5 else (2 if x <= 10 else 3)))

In [7]:
# Jumlah total data
total_data = len(df)

# Jumlah setiap nilai 0, 1, 2, 3 yang harus sama
num_per_value = total_data // 4

# Jika total_data tidak dapat dibagi 4 secara merata, tambahkan sisanya
values = [0] * num_per_value + [1] * num_per_value + [2] * num_per_value + [3] * num_per_value

# Tambahkan nilai sisa secara merata
remainder = total_data % 4
for i in range(remainder):
    values.append(i)

# Acak urutan nilai dalam daftar
np.random.shuffle(values)

# Tambahkan nilai ke kolom 'user'
df['user'] = values

In [8]:
df["total_skor"] = df["skor_protein"] + df["skor_lemak"] + df['skor_carb'] + df["skor_gula"] + df["user"]

In [9]:
df["class"] = df["total_skor"].apply(lambda x: 0 if x <= 3 else(1 if x <= 6 else (2 if x <= 9 else 3)))
df

,NDB_No,Descrip,Energy_kcal,Protein_g,Saturated_fats_g,Fat_g,Carb_g,Fiber_g,Sugar_g,Calcium_mg,...,VitA_mcg,VitE_mg,VitD2_mcg,skor_protein,skor_lemak,skor_carb,skor_gula,user,total_skor,class
0,1001,butter with salt,717.000,0.85,51.36800,81.11,0.06,0.0,0.06,24.00,...,684.0,2.32,0.0,0,2,0,0,0,2,0
1,1002,butter whipped w salt,718.000,0.49,45.39000,78.30,2.87,0.0,0.06,23.00,...,683.0,1.37,0.0,0,2,0,0,2,4,1
2,1003,butter oil anhydrous,876.000,0.28,61.92400,99.48,0.00,0.0,0.00,4.00,...,840.0,2.8,0.0,0,2,0,0,2,4,1
3,1004,cheese blue,353.000,21.40,18.66900,28.74,2.34,0.0,0.50,528.00,...,198.0,0.25,0.5,2,2,0,0,3,7,2
4,1005,cheese brick,371.000,23.24,18.76400,29.68,2.79,0.0,0.51,674.00,...,292.0,0.26,0.5,2,2,0,0,1,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9313,S006,rohu,102.292,19.71,2.04700,2.39,0.00,0.0,0.00,39.37,...,0.0,2.4,0.0,1,0,0,0,2,3,0
9314,S007,crab,78.153,13.23,0.21400,0.89,0.00,0.0,0.00,199.00,...,0.0,4.85,0.0,1,0,0,0,1,2,0
9315,S008,prawns big,90.820,19.24,0.08686,0.52,0.00,0.0,0.00,48.55,...,0.0,0,0.0,1,0,0,0,2,3,0
9316,S009,prawns small,70.983,13.07,0.19700,0.78,0.00,0.0,0.00,67.99,...,0.0,1.75,0.0,1,0,0,0,0,1,0
9317,S010,tiger prawns,67.876,14.24,0.13400,0.66,0.00,0.0,0.00,57.90,...,0.0,1.65,0.0,1,0,0,0,2,3,0

In [10]:
# Melihat jumlah data per kelas gula
class_counts = df['skor_gula'].value_counts()
print(class_counts)

skor_gula
0    5145
1    1753
3    1669
2     751
Name: count, dtype: int64

In [11]:
# Melihat jumlah data per kelas
class_counts = df['skor_protein'].value_counts()
print(class_counts)

skor_protein
0    5152
2    2294
1    1872
Name: count, dtype: int64

In [12]:
# Melihat jumlah data per kelas
class_counts = df['skor_carb'].value_counts()
print(class_counts)

skor_carb
0    6613
2    1858
1     847
Name: count, dtype: int64

In [13]:
# Melihat jumlah data per kelas
class_counts = df['skor_lemak'].value_counts()
print(class_counts)

skor_lemak
0    3733
2    3032
1    2553
Name: count, dtype: int64

In [14]:
# Melihat jumlah data per kelas
class_counts = df['user'].value_counts()
print(class_counts)

user
0    2330
1    2330
2    2329
3    2329
Name: count, dtype: int64

In [15]:
# Melihat jumlah data per kelas
class_counts = df['class'].value_counts()
print(class_counts)

class
1    4371
0    3243
2    1537
3     167
Name: count, dtype: int64

In [16]:
# rename kolom
df.rename(columns={'Protein_g': 'protein', 'Fat_g': 'lemak', 'Carb_g': 'karbohidrat', 'Sugar_g': 'gula'}, inplace=True)

In [17]:
df = df[['user', 'lemak', 'protein', 'karbohidrat', 'gula', 'class']]
df

      user  lemak  protein  karbohidrat  gula  class
0        0  81.11     0.85         0.06  0.06      0
1        2  78.30     0.49         2.87  0.06      1
2        2  99.48     0.28         0.00  0.00      1
3        3  28.74    21.40         2.34  0.50      2
4        1  29.68    23.24         2.79  0.51      1
...    ...    ...      ...          ...   ...    ...
9313     2   2.39    19.71         0.00  0.00      0
9314     1   0.89    13.23         0.00  0.00      0
9315     2   0.52    19.24         0.00  0.00      0
9316     0   0.78    13.07         0.00  0.00      0
9317     2   0.66    14.24         0.00  0.00      0

[9318 rows x 6 columns]

In [18]:
# Menyimpan DataFrame ke file CSV
df.to_csv('dataset.csv', index=False)